{% extends 'layouts/base.html' %}

{% comment %} {% extends 'layouts/base.html' %} {%load crispy_forms_tags %}

{% comment %} <form method ="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form> {% endcomment %}


{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %} 
    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h5 class="mb-0">Create Project Module</h5>
            <small class="text-muted float-end"></small>
          </div>
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
              <div class="mb-3" >
                <label class="form-label" for="basic-icon-default-fullname"></label>
                <div class="input-group input-group-merge">
                  <span
                    id="basic-icon-default-fullname2"
                    class="input-group-text"
                    ><i class="bx bx-user"></i
                  ></span>
                  {% comment %} <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-fullname"
                    placeholder="John Doe"
                    aria-label="John Doe"
                    aria-describedby="basic-icon-default-fullname2"
                  /> {% endcomment %}
                  {% comment %} <div
                  class="form-control"
                    id="basic-icon-default-fullname"
                    placeholder="John Doe"
                    aria-label="John Doe"
                    aria-describedby="basic-icon-default-fullname2">
                  
                  {{form.module  | as_crispy_field}}
                  {{form.project | as_crispy_field}}
                  {{form.title  | as_crispy_field}}
                  {{form.priority | as_crispy_field}}
                  {{form.description | as_crispy_field}}
                  {{form.status | as_crispy_field}}
                  {{form.totalMinutes| as_crispy_field}}
                 

                  
                  
                  </div>
                </div>
              
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html> {% endcomment %}




{% load static %}

{% block title %} Create Project Task {% endblock title %}

{% block content %}

<!-- Page content -->
<div class="container-fluid mt--12 pt-5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              {% if request.path == '/project/create_project_task/' %}
              <h3 class="mb-0">Create Project Task </h3>
              {% else %}
              <h3 class="mb-0">Update Project </h3>
              {% endif %}
            </div>
            <div class="col-4 text-right">
              {% if request.path == '/project/create_project_task/' %}
              <a href="#!" class="btn btn-sm btn-primary">Create Project Task</a>
              
              {% comment %} <a href="{% url 'projectlist' %}" class="btn btn-sm btn-primary"> Back</a> {% endcomment %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Project information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Module</label>
                    {{ form.module }}
                    {% comment %} <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{ request.user.username }}"> {% endcomment %}
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label">Project</label>
                    {{ form.project }}
                    {% comment %} <textarea rows="4" class="form-control" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea> {% endcomment %}
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Title</label>
                      {{ form.title }}
                      {% comment %} <textarea rows="4" class="form-control" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Priority</label>
                    {{ form.priority }}
                    {% comment %} <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{ request.user.username }}"> {% endcomment %}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Description</label>
                    {{ form.description }}
                    {% comment %} <input type="text" id="input-city" class="form-control" placeholder="City" value="New York"> {% endcomment %}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Status</label>
                    {{ form.status }}
                    {% comment %} <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States"> {% endcomment %}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Total Minutes</label>
                    {{ form.totalMinutes }}
                    {% comment %} <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code"> {% endcomment %}
                  </div>
                </div>
              </div>
              {% if request.path == '/project/create_project_task/' %}
              <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" id="input-postal-code" class="btn btn-primary float-right btn-lg btn-block" value="Create">
                  </div>
                </div>
                    {% else %}
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <a href="{% url 'project_task_list' %}" class="btn btn-light float-right btn-lg btn-block">Close</a>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <input type="submit" id="input-postal-code" class="btn btn-primary float-right btn-lg btn-block" value="Update">
                        </div>
                      </div>
                    </div>
                  {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="{% static '/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock javascripts %}
