<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
     
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if 'developerdashboard' in segment %} active {% endif %}" href="{% url 'developerdashboard' %}">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'icons' %}">
                <i class="ni ni-planet text-orange"></i>
                <span class="nav-link-text">Icons</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
                <i class="ni ni-pin-3 text-primary"></i>
                <span class="nav-link-text">Google</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-text">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
                <i class="ni ni-bullet-list-67 text-default"></i>
                <span class="nav-link-text">Tables</span>
              </a>
            </li>
            {% comment %} <div class="navbar-inner">
              <!-- Collapse -->
              <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav"> {% endcomment %}
                  {% comment %} <li class="nav-item">
                    <a class="nav-link {% if 'projectcreate' in segment %} active {% endif %}" href="{% url 'projectlist' %}">
                      <i class="ni ni-tv-2 text-primary"></i>
                      <span class="nav-link-text">Create Project</span>
                    </a>
                  </li>
                   <div class="navbar-inner"> {% endcomment %}
                    <!-- Collapse -->
                    {% comment %} <div class="collapse navbar-collapse" id="sidenav-collapse-main"> {% endcomment %}
                      <!-- Nav items -->
                      {% comment %} <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link {% if 'projectteamcreate' in segment %} active {% endif %}" href="{% url 'projectteamcreate' %}">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Create Project Team</span>
                          </a>
                        </li>
                        <div class="navbar-inner"> {% endcomment %}
                          <!-- Collapse -->
                           {% comment %} <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link {% if 'createprojectmodule' in segment %} active {% endif %}" href="{% url 'createprojectmodule' %}">
                              <i class="ni ni-tv-2 text-primary"></i>
                              <span class="nav-link-text">Create Project Module</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link {% if 'create_project_task' in segment %} active {% endif %}" href="{% url 'create_project_task' %}">
                              <i class="ni ni-tv-2 text-primary"></i>
                              <span class="nav-link-text">Create Project Task</span>
                            </a>
                          </li> {% endcomment %}


                           <li class="nav-item">
                            <a class="nav-link {% if 'developerdashboard' in segment %} active {% endif %}" href="{% url 'project_task_list' %}">
                              <i class="ni ni-tv-2 text-primary"></i>
                              <span class="nav-link-text">Project Task List</span>
                            </a>
                          </li>  

                          <li class="nav-item">
                            <a class="nav-link {% if 'developerdashboard' in segment %} active {% endif %}" href="{% url 'projectlist' %}">
                              <i class="ni ni-tv-2 text-primary"></i>
                              <span class="nav-link-text">Project List</span>
                            </a>
                          </li> 




                          <li class="nav-item">
                            <a class="nav-link {% if 'developerdashboard' in segment %} active {% endif %}" href="{% url 'projectteamlist' %}">
                              <i class="ni ni-tv-2 text-primary"></i>
                              <span class="nav-link-text">Project team List</span>
                            </a>
                          </li> 



                          <li class="nav-item">
                            <a class="nav-link {% if 'developerdashboard' in segment %} active {% endif %}" href="{% url 'listprojectmodule' %}">
                              <i class="ni ni-tv-2 text-primary"></i>
                              <span class="nav-link-text">Project Module List</span>
                            </a>
                          </li>


            {% comment %} <li class="nav-item">
              <a class="nav-link" href="/login.html">
                <i class="ni ni-key-25 text-info"></i>
                <span class="nav-link-text">Login (template)</span>
              </a>
            </li> {% endcomment %}
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="/register.html">
                <i class="ni ni-circle-08 text-pink"></i>
                <span class="nav-link-text">Register (template)</span>
              </a>
            </li> {% endcomment %}
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="ni ni-user-run text-red"></i>
                <span class="nav-link-text">Logout</span>
              </a>
            </li>            
          </ul>
          {% comment %} <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">
            <span class="docs-normal">Resources</span>
          </h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
  
            <li class="nav-item">
              <a class="nav-link" 
                 target="_blank" 
                 href="https://appseed.us/admin-dashboards/django-dashboard-argon">
                <i class="ni ni-archive-2"></i>
                <span class="nav-link-text">Product Page</span>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" 
                 target="_blank" 
                 href="https://appseed.us/admin-dashboards/django-dashboard-argon-pro">
                <i class="ni ni-spaceship text-red"></i>
                <span class="nav-link-text text-red">PRO Version</span>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active active-pro" 
                 target="_blank" 
                 href="http://appseed.us">
                <i class="ni ni-send text-dark"></i>
                <span class="nav-link-text">AppSeed</span>
              </a>
            </li>
          </ul> {% endcomment %}
                    
           {% comment %} <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
              <!-- Nav items -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link {% if 'projectcreate' in segment %} active {% endif %}" href="{% url 'projectlist' %}">
                    <i class="ni ni-tv-2 text-primary"></i>
                    <span class="nav-link-text">Create Project</span>
                  </a>
                </li>
  
                <div class="navbar-inner">
                  <!-- Collapse -->
                  <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link {% if 'projectteamcreate' in segment %} active {% endif %}" href="{% url 'projectteamcreate' %}">
                          <i class="ni ni-tv-2 text-primary"></i>
                          <span class="nav-link-text">Create Project Team</span>
                        </a>
                      </li> {% endcomment %}
              
  
  
        
  
  
  
  
  
                    {% comment %} <div class="row align-items-left">
                   
                        {% if request.path == '/project/projectcreate/' %}
                        <a href="#!" class="btn btn-sm btn-primary">Create Project</a>
                        {% else %}
                        <a href="{% url 'projectlist' %}" class="btn btn-sm btn-primary">Create Project</a> {% endcomment %}
                        
                        {% comment %} <a href="{% url 'index' %}" class="btn btn-sm btn-primary">Back</a> {% endcomment %}
                        {% comment %} {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid mt--12 pt-5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8"> {% endcomment %}
                {% comment %} <h3 class="mb-0">Create Project Team </h3> {% endcomment %}
                  
  
  
  
                {% comment %} <div class="col-4 text-right">
                  {% if request.path == '/project/projectteamcreate/' %}
                  <a href="#!" class="btn btn-sm btn-primary">Create Team</a>
                  {% else %}
                  <a href="{% url 'projectteamcreate' %}" class="btn btn-sm btn-primary">Create Project Team</a>
                  
                  {% comment %} <a href="{% url 'index' %}" class="btn btn-sm btn-primary">Back</a> {% endcomment %}
                  {% comment %} {% endif %}
                  
  
  
  
  
  
  
               {% comment %} </div> {% endcomment %}
              {% comment %} <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Create Project Team</a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>